@model VolunteersClub.Models.Volunteer

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<style>
.bg-blue {
    background-color: blue;
}
</style>
<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Статисика</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-primary py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>участий в мероприятиях</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>@ViewBag.RegularEventsCount</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-success py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>средняя оценка за участия</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>@ViewBag.AverageRatingRegular</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-info py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>мероприятий в роли ответственного</span></div>
                                            <div class="row g-0 align-items-center">
                                                <div class="col">
                                                    <div class="text-dark fw-bold h5 mb-0"><span>@ViewBag.SpecialEventsCount</span></div>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-dark fw-bold h5 mb-0 me-3"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 mb-4">
                            <div class="card shadow border-start-warning py-2">
                                <div class="card-body">
                                    <div class="row align-items-center no-gutters">
                                        <div class="col me-2">
                                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>средняя оценка за проведённые мероприятия</span></div>
                                            <div class="text-dark fw-bold h5 mb-0"><span>@ViewBag.AverageRatingSpecial</span></div>
                                        </div>
                                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Виды мероприятий</h6>
                                </div>
                                <div class="card-body">
                                @foreach (var eventType in ViewBag.EventTypesData)
                                {
                                    <h4 class="small fw-bold">@eventType.Type<span class="float-end">@eventType.Percentage%</span></h4>
                                    <div class="progress mb-4">
                                                    <div class="progress-bar bg-primary" aria-valuenow="@eventType.Percentage" aria-valuemin="0" aria-valuemax="100" style="width: @eventType.PercentageString;"><span class="visually-hidden">@eventType.PercentageString</span></div>
                                    </div>
                                }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6 class="text-primary fw-bold m-0">&nbsp;Роль в мероприятиях</h6>
                                </div>
                                    <div class="card-body">
                                        <div class="chart-area">
                                            <canvas id="participationChart"></canvas>
                                                <script>
                                                    var positiveData = [@ViewBag.RegularEventsCount, @ViewBag.SpecialEventsCount];
                                                    var colors = ['#4e73df', '#1cc88a'];
                                                    var ctx = document.getElementById('participationChart').getContext('2d');
                                                    var participationChart = new Chart(ctx, {
                                                        type: 'doughnut',
                                                        data: {
                                                            labels: ['Волонтёр', 'Ответственный за проведение'],
                                                            datasets: [{
                                                                label: 'Участие',
                                                                backgroundColor: colors,
                                                                borderColor: colors,
                                                                data: positiveData,
                                                            }]
                                                        },
                                                        options: {
                                                            maintainAspectRatio: false,
                                                            legend: {
                                                                display: false,
                                                            },
                                                            title: {
                                                                display: true,
                                                                text: 'Роль в мероприятиях',
                                                                fontStyle: 'normal'
                                                            }
                                                        }
                                                    });
                                                </script>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">Ближайшие мероприятия</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    @foreach (var futureEvent in ViewBag.FutureEvents)
                                    {
                                        <li class="list-group-item">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col me-2">
                                                    <h6 class="mb-0"><strong>@futureEvent.Name</strong></h6><span class="text-xs">Дата: @futureEvent.Date <br>Время: @futureEvent.Time<br>Место: @futureEvent.Address<br></span>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>