@model VolunteersClub.Models.Volunteer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityAreaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityAreaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VK)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VK)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telegram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telegram)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VolunteerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
