@model IEnumerable<VolunteersClub.Models.Volunteer>

@{
    ViewData["Title"] = "Index";
}

<h1>Наши волонтёры</h1>

<div class="row">
    @foreach (var item in Model)
    {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow rounded">
                    <img src="https://i.imgur.com/wZd9fI7.png" class="card-img-top" alt="Volunteer Image">
                    <div class="card-body">
                        <h5 class="card-title mb-2">@Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Patronymic) @Html.DisplayFor(modelItem => item.Surname)</h5>
                        <p class="card-text mb-1">Дата рождения: @Html.DisplayFor(modelItem => item.BirthDate)</p>
                        <p class="card-text mb-1">Тип мероприятия: @Html.DisplayFor(modelItem => item.EventType.EventTypeName)</p>
                        <p class="card-text mb-1">Статус волонтёра: @Html.DisplayFor(modelItem => item.VolunteerStatus.Status)</p>
                        <p class="card-text mb-1">VK: @Html.DisplayFor(modelItem => item.VK)</p>
                        <p class="card-text mb-1">Telegram: @Html.DisplayFor(modelItem => item.Telegram)</p>
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <a asp-action="Details" asp-route-id="@item.UserID" class="btn btn-info">Подробная статистика</a>
                    </div>
                </div>
            </div>
    }
</div>



