@model VolunteersClub.Models.Event

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center">Удалить мероприятие</h1>

<h3 class="text-center">Вы уверены, что хотите удалить информацию о мероприятии?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3 text-right">
            Название
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class="col-sm-3 text-right">
            Дата
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class="col-sm-3 text-right">
            Время начала
        </dt>
        <dd class="col-sm-9">
            @Model.StartTime.ToString(@"hh\:mm")
        </dd>

        <dt class="col-sm-3 text-right">
            Продолжительность
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-3 text-right">
            Кол-во волонтёров
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VolunteersNumber)
        </dd>
        <dt class="col-sm-3 text-right">
            Тип мероприятия
        </dt>
        <dd class="col-sm-9">
            @ViewBag.EventTypeName
        </dd>
        <dt class="col-sm-3 text-right">
            Адрес
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-3 text-right">
            Описание
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt class="col-sm-3 text-right">
            Баннер
        </dt>
        <dd class="col-sm-9">
            <img src="@Html.DisplayFor(model => model.Image)" alt="Event Image" class="img-fluid">
        </dd>
    </dl>

    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="EventID" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
    </form>
</div>

