@model VolunteersClub.Models.Event

@{
    ViewData["Title"] = "Детали";
}

<h1 class="text-center">Детали мероприятия</h1>
<h4 class="text-center">@Model.EventName</h4>
<div class="mx-auto mb-4">
    <hr />
    <dl class="row">
        <dt class="col-sm-3 text-right">
            Название
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class="col-sm-3 text-right">
            Дата
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class="col-sm-3 text-right">
            Время начала
        </dt>
        <dd class="col-sm-9">
            @Model.StartTime.ToString(@"hh\:mm")
        </dd>

        <dt class="col-sm-3 text-right">
            Продолжительность
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-3 text-right">
            Кол-во волонтёров
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.VolunteersNumber)
        </dd>
        <dt class="col-sm-3 text-right">
            Тип мероприятия
        </dt>
        <dd class="col-sm-9">
            @ViewBag.EventTypeName
        </dd>
        <dt class="col-sm-3 text-right">
            Адрес
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-3 text-right">
            Описание
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EventDescription)
        </dd>
        <dt class="col-sm-3 text-right">
            Баннер
        </dt>
        <dd class="col-sm-9">
            <img src="@Html.DisplayFor(model => model.Image)" alt="Event Image" class="img-fluid">
        </dd>
    </dl>
</div>
<div class="text-center">
@*     <a asp-action="Edit" asp-route-id="@Model?.EventID" class="btn btn-primary">Редактировать</a> | *@
    <a href="#" class="btn btn-secondary" onclick="history.back();return false;">Обратно к списку</a>
</div>

