@model IEnumerable<VolunteersClub.Models.Event>

@{
    ViewData["Title"] = "Мероприятия Волонтёрского центра НИУ ВШЭ-Пермь";
}

<h1>Мероприятия Волонтёрского центра НИУ ВШЭ-Пермь</h1>

<p class="text-center">
    <a asp-action="Create" class="btn btn-success">Создать новое</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@item.Image" class="card-img-top mx-auto mt-3" alt="Event Image" style="max-width: 75%;">
                    <div class="card-body" style="height: 200px; overflow: hidden;">
                        <h5 class="card-title font-weight-bold">@item.EventName</h5>
                        <p class="card-text">@item.EventDescription</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group d-flex justify-content-between" role="group" aria-label="Event Actions">
                            <a asp-action="Edit" asp-route-id="@item.EventID" class="btn btn-primary">Редактировать</a>
                            <a asp-action="Details" asp-route-id="@item.EventID" class="btn btn-info">Подробнее</a>
                            <a asp-action="Delete" asp-route-id="@item.EventID" class="btn btn-danger">Удалить</a>
                        </div>
                        <div class="text-center mt-2">
                            <a asp-controller="Participants" asp-action="Index" asp-route-id="@item.EventID" class="btn btn-secondary">Формирование команды</a>
                        </div>
                    </div>
                </div>
            </div>
    }
    <div class="form-group text-center mb-3">
        <a href="#" class="btn btn-secondary" onclick="history.back();return false;">Назад</a>
    </div>
</div>

