@model VolunteersClub.Models.ViewEventForVolunteers

@{
    ViewData["Title"] = "Мероприятия Волонтёрского центра НИУ ВШЭ-Пермь";
}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<h1>Мероприятия Волонтёрского центра НИУ ВШЭ-Пермь</h1>

<form method="get">
    <label for="eventType">Тип мероприятия:</label>
    <select id="eventType" name="eventType">
        <option value="">Все типы</option>
        @foreach (var type in Model.EventTypes)
        {
            <option value="@type.EventTypeID">@type.EventTypeName</option>
        }
    </select>

    <label for="startDate">Начало периода:</label>
    <input type="date" id="startDate" name="startDate">

    <label for="endDate">Конец периода:</label>
    <input type="date" id="endDate" name="endDate">

    <button type="submit">Применить фильтр</button>
</form>


<div class="row" style="display: flex; flex-wrap: wrap;">
    @foreach (var item in Model.Events)
    {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@item.Image" class="card-img-top mx-auto mt-3" alt="Event Image" style="max-width: 75%;">
                    <div class="card-body" style="height: 200px; overflow: hidden;">
                        <h5 class="card-title font-weight-bold">@item.EventName</h5>
                        <p class="card-text">@item.EventDescription</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group d-flex justify-content-between" role="group" aria-label="Event Actions">
                            <button class="btn btn-primary make-btn" data-event-id="@ViewBag.EventID" data-volunteer-id="@ViewBag.Id">Отправить заявку</button>
                            <a asp-action="Details" asp-route-id="@item.EventID" class="btn btn-info">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
    }
    <div class="form-group text-center mb-3">
        <a href="#" class="btn btn-secondary" onclick="history.back();return false;">Назад</a>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.make-btn').click(function () {
            var eventId = $(this).data('event-id');
            var volunteerId = $(this).data('volunteer-id');
            var button = $(this);

            // Отправляем AJAX-запрос на сервер для отправки приглашения
            $.post('/Events/MakeRequest', { eventId: eventId, volunteerId: volunteerId }, function (result) {
                if (result.success) {

                } else {
                    // Обработка ошибки
                    alert('Error: ' + result.error);
                }
            });

            // Делаем кнопку нерабочей
            button.prop('disabled', true);
            button.addClass('disabled');
            button.addClass('btn-secondary'); // Добавляем серый цвет кнопке
        });
    });
</script>
