@model IEnumerable<VolunteersClub.Models.Participant>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div class="slider-container">
    <h2>Ответственные за проведение мероприятия</h2>
        <div class="row">
        @foreach (var volunteer in ViewBag.Mains)
        {
                            <div class="col-md-4 mb-4">
                                <div class="card h-100 shadow rounded">
                                    <img src="https://i.imgur.com/wZd9fI7.png" class="card-img-top" alt="Volunteer Image">
                                    <div class="card-body">
                                        <p>@volunteer.Surname</p>
                                        <p>@volunteer.Name</p>
                                        <p>@volunteer.Patronymic</p>
                                        <p>@volunteer.Status</p>
                                        <p>@volunteer.BirthDate.ToShortDateString()</p>
                                        <p>@volunteer.VK</p>
                                        <p>@volunteer.Telegram</p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-center">
                                        <a asp-controller="Volunteers" asp-action="Details" asp-route-id="@volunteer.UserID" class="btn btn-info">Подробная статистика</a>
                                        <button class="btn btn-danger regular-btn" data-participant-id="@volunteer.RecordID">Отозвать роль</button>
                                    </div>
                                </div>
                            </div>
        }
    </div>
</div>

<div class="slider-container">
    <h2>Поступившие заявки</h2>
        <div class="row">
        @foreach (var volunteer in ViewBag.ConfirmedVolunteers)
        {
                        <div class="col-md-4 mb-4">
                            <div class="card h-100 shadow rounded">
                                <img src="https://i.imgur.com/wZd9fI7.png" class="card-img-top" alt="Volunteer Image">
                                <div class="card-body">
                                    <p>@volunteer.Surname</p>
                                    <p>@volunteer.Name</p>
                                    <p>@volunteer.Patronymic</p>
                                    <p>@volunteer.Status</p>
                                    <p>@volunteer.BirthDate.ToShortDateString()</p>
                                    <p>@volunteer.VK</p>
                                    <p>@volunteer.Telegram</p>
                                </div>
                                <div class="card-footer d-flex justify-content-center">
                                    <a asp-controller="Volunteers" asp-action="Details" asp-route-id="@volunteer.UserID" class="btn btn-info">Подробная статистика</a>
                                    <button class="btn btn-primary approve-btn" data-participant-id="@volunteer.RecordID">Одобрить заявку</button>
                                    <button class="btn btn-danger decline-btn" data-participant-id="@volunteer.RecordID">Отклонить заявку</button>
                                </div>
                            </div>
                        </div>
        }
    </div>
</div>

<div class="slider-container">
    <h2>Отправленные приглашения</h2>
    <div class="row">
        @foreach (var volunteer in ViewBag.ConfirmedLeader)
        {
                            <div class="col-md-4 mb-4">
                                <div class="card h-100 shadow rounded">
                                    <img src="https://i.imgur.com/wZd9fI7.png" class="card-img-top" alt="Volunteer Image">
                                    <div class="card-body">
                                        <p>@volunteer.Surname</p>
                                        <p>@volunteer.Name</p>
                                        <p>@volunteer.Patronymic</p>
                                        <p>@volunteer.Status</p>
                                        <p>@volunteer.BirthDate.ToShortDateString()</p>
                                        <p>@volunteer.VK</p>
                                        <p>@volunteer.Telegram</p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-center">
                                        <a asp-controller="Volunteers" asp-action="Details" asp-route-id="@volunteer.UserID" class="btn btn-info">Подробная статистика</a>
                                        <button class="btn btn-danger decline-btn" data-participant-id="@volunteer.RecordID">Отозвать заявку</button>
                                    </div>
                                </div>
                            </div>
        }
    </div>
</div>

<div class="slider-container">
    <h2>Утверждённые участники</h2>
    <div class="row">
        @foreach (var volunteer in ViewBag.ConfirmedBoth)
        {
                                <div class="col-md-4 mb-4">
                                    <div class="card h-100 shadow rounded">
                                        <img src="https://i.imgur.com/wZd9fI7.png" class="card-img-top" alt="Volunteer Image">
                                        <div class="card-body">
                                            <p>@volunteer.Surname</p>
                                            <p>@volunteer.Name</p>
                                            <p>@volunteer.Patronymic</p>
                                            <p>@volunteer.Status</p>
                                            <p>@volunteer.BirthDate.ToShortDateString()</p>
                                            <p>@volunteer.VK</p>
                                            <p>@volunteer.Telegram</p>
                                        </div>
                                        <div class="card-footer d-flex justify-content-center">
                                            <a asp-controller="Volunteers" asp-action="Details" asp-route-id="@volunteer.UserID" class="btn btn-info">Подробная статистика</a>
                                            <button class="btn btn-danger decline-btn" data-participant-id="@volunteer.RecordID">Отозвать приглашение</button>
                                            <button class="btn btn-success main-btn" data-participant-id="@volunteer.RecordID">Сделать ответственным</button>
                                        </div>
                                    </div>
                                </div>
        }
    </div>
</div>

<div class="slider-container">
    <h2>Оставшиеся волонтёры</h2>
    <div class="row">
        @foreach (var volunteer in ViewBag.NonParticipants)
        {
                                <div class="col-md-4 mb-4">
                                    <div class="card h-100 shadow rounded">
                                        <img src="https://i.imgur.com/wZd9fI7.png" class="card-img-top" alt="Volunteer Image">
                                        <div class="card-body">
                                            <p>@volunteer.Surname</p>
                                            <p>@volunteer.Name</p>
                                            <p>@volunteer.Patronymic</p>
                                            <p>@volunteer.Status</p>
                                            <p>@volunteer.BirthDate.ToShortDateString()</p>
                                            <p>@volunteer.VK</p>
                                            <p>@volunteer.Telegram</p>
                                        </div>
                                        <div class="card-footer d-flex justify-content-center">
                                            <a asp-controller="Volunteers" asp-action="Details" asp-route-id="@volunteer.UserID" class="btn btn-info">Подробная статистика</a>
                                            <button class="btn btn-primary make-btn" data-event-id="@ViewBag.EventID" data-volunteer-id="@volunteer.VolunteerId">Отправить приглашение</button>
                                        </div>
                                    </div>
                                </div>
        }
    </div>
</div>
<div class="form-group text-center mb-3">
    <a href="#" class="btn btn-secondary" onclick="history.back();return false;">Назад</a>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Обработчик клика по кнопке "Одобрить заявку"
        $('.approve-btn').click(function () {
            var participantId = $(this).data('participant-id');

            // Отправляем AJAX-запрос на сервер для одобрения заявки
            $.post('/Participants/ApproveRequest', { participantId: participantId }, function (result) {
                if (result.success) {
                    // Обновляем содержимое слайдера
                    // Можно выполнить перезагрузку страницы или другие действия по вашему выбору
                    location.reload();
                } else {
                    // Обработка ошибки
                    alert('Error: ' + result.error);
                }
            });
        });
        $('.decline-btn').click(function () {
            var participantId = $(this).data('participant-id');

            // Отправляем AJAX-запрос на сервер для отвергания заявки
            $.post('/Participants/DeclineRequest', { participantId: participantId }, function (result) {
                if (result.success) {
                    // Обновляем содержимое слайдера
                    // Можно выполнить перезагрузку страницы или другие действия по вашему выбору
                    location.reload();
                } else {
                    // Обработка ошибки
                    alert('Error: ' + result.error);
                }
            });
        });
        $('.make-btn').click(function () {
            var eventId = $(this).data('event-id');
            var volunteerId = $(this).data('volunteer-id');

            // Отправляем AJAX-запрос на сервер для отвергания заявки
            $.post('/Participants/MakeRequest', { eventId: eventId, volunteerId: volunteerId }, function (result) {
                if (result.success) {
                    // Обновляем содержимое слайдера
                    // Можно выполнить перезагрузку страницы или другие действия по вашему выбору
                    location.reload();
                } else {
                    // Обработка ошибки
                    alert('Error: ' + result.error);
                }
            });
        });
        $('.main-btn').click(function () {
            var participantId = $(this).data('participant-id');

            // Отправляем AJAX-запрос на сервер для отвергания заявки
            $.post('/Participants/MakeMain', { participantId: participantId }, function (result) {
                if (result.success) {
                    // Обновляем содержимое слайдера
                    // Можно выполнить перезагрузку страницы или другие действия по вашему выбору
                    location.reload();
                } else {
                    // Обработка ошибки
                    alert('Error: ' + result.error);
                }
            });
        });
        $('.regular-btn').click(function () {
            var participantId = $(this).data('participant-id');

            // Отправляем AJAX-запрос на сервер для отвергания заявки
            $.post('/Participants/MakeRegular', { participantId: participantId }, function (result) {
                if (result.success) {
                    // Обновляем содержимое слайдера
                    // Можно выполнить перезагрузку страницы или другие действия по вашему выбору
                    location.reload();
                } else {
                    // Обработка ошибки
                    alert('Error: ' + result.error);
                }
            });
        });
    });
</script>